<div class="row">
    <%= render partial: 'shared/user_and_verification_panel', locals: {user: current_user} %>

    <div class="col-md-9">
        <!-- Notification -->
        <div class="panel panel-default">
            <div class="panel-heading">Notifications</div>
            <div class="panel-body"></div>
        </div>
        <!-- Listings -->
        <div class="panel panel-default">
            <div class="panel-heading">Your Listings (<%= @venues.length %>)</div>
            <div class="panel-body">
                <%= render partial: "venues/venue_list", locals: {venues: @venues} %>  
            </div>
        </div>
    </div>
</div>