<div class="row">
    <div class="col-md-3">
        <%= render 'shared/manage_listings_side'%>
    </div>
    <div class="col-md-9">
        <div class="panel panel-default">
            <div class="panel-heading">
                Listings
            </div>
            <div class="panel-body">
                <% @venues.each do |venue| %>
                    <div class="row">
                        <div class="col-md-2">
                            <%= image_tag venue.cover_photo(:thumb) %>
                        </div>
                        <div class="col-md-7">
                            <h4><%= venue.listing_name %></h4>
                        </div>
                        <div class="col-md-3 right">
                            <%= link_to "Update", listing_venue_path(venue), class: "btn btn-form" %>
                        </div>
                    </div>
                    <% if venue != @venues.last %>
                        <hr/>
                    <% end %>
                <% end %>
            </div>
        </div>
    </div>
</div>